<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/resources/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
      <nav>
        <div class="row mynavbar" style="background-color: rgba(0, 0, 0, 0.85)">
          <a class="nav-link col" href="/video"><h3>Video</h3></a>
          <a class="nav-link col" href="/music"><h3>Music</h3></a>
          <a class="nav-link col" href="/interactive"><h3>Software</h3></a>
          <a class="nav-link col" href="https://thoughtgarden.xyz" target="_blank" rel="noopener noreferrer"><h3>ThoughtGarden</h3></a>
          <a class="nav-link col-1" href="https://www.github.com/dreamchef" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="GitHub" style="height: 35px; filter: invert(1);">
          </a>
          <a class="nav-link col-1" href="https://www.linkedin.com/in/daniellisle" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" style="height: 35px;" alt="LinkedIn">
          </a>
        </div>
      </nav>
      <title>DREAMCHEF</title>
      <script src="https://www.googletagmanager.com/gtag/js?id=G-Z3CV369SGB"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Z3CV369SGB');
      </script>
    </head>