body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
}

#mainTitle, #secondTitle, #introduction {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainTitle {
    opacity: 1;
}

.centeredTitle {
    font-size: 10rem; /* Larger font size for the main title */
    text-align: right;
}

#secondTitle {
    opacity: 0;
    font-size: 4rem;
    text-align: center;
}

#introduction {
    opacity: 0; /* Start titles and text as invisible */
    font-size: 2rem;
}



.subtitle {
    font-size: 1.7rem;
    opacity: 1;
    text-align: right;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Final background color */
    opacity: 0; /* Start as transparent */
}

.spacer {
    height: 15vh;
}

.linger {
    height: 60vh;
}

.slide {
    height: 100vh;
}


.container {
    display: flex;
    align-items: stretch; /* Align items vertically */
}

.text-content {
    flex: 1; /* Allows text content to grow and fill the available space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text-content vertically */
    padding-right: 20px; /* Space between text and image */
}

.image-content {
    flex: 1; /* Allows image content to grow but can be limited by max-height of the image */
    display: flex;
    align-items: center; /* Center image vertically if it's not as tall as the container */
    justify-content: center; /* Center image horizontally */
}

.image-content img {
    max-height: 800px; /* Maximum height for the image */
    max-width: 100%; /* Allows the image width to grow but not exceed its container */
    object-fit: contain; /* Preserve aspect ratio */
    height: auto; /* Adjust height automatically */
}
