body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

#centeredTitle, #centeredText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    opacity: 0; /* Start titles and text as invisible */
}

#centeredTitle {
    font-size: 4rem; /* Larger font size for the main title */
    opacity: 1;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Final background color */
    opacity: 0; /* Start as transparent */
}

spacer {
    height: 100px;
}