<%- include('../partials/header'); %>
<body style="background-color: #68d321;">
    <div id="pageHeader" class="container text-center">
        <h1 style="margin: 1%;">Software</h1>
    </div>
    <div class="container text-center">
        <h2 style="margin: 1%;">Productivity</h2>
    </div> 
    <div class="container">
        <div class="jumbotron" style="border-radius: 0;" id='content'>
            <zero-md src='https://raw.githubusercontent.com/dreamchef/dynamicscheduler/main/README.md'></zero-md>
            &nbsp;
            <p>Follow development on <a href="https://github.com/dreamchef/dynamicscheduler"  target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
        </div>
    </div>
    <div class="container text-center">
        <h2 style="margin: 1%;">Interactive Media</h2>
    </div>
    <div class="container">
        <div class="jumbotron" style="border-radius: 0;">
            <zero-md src='https://raw.githubusercontent.com/dreamchef/spacegame/main/README.md'></zero-md>
            &nbsp;<p>Follow development on <a href="https://github.com/dreamchef/spacegame"  target="_blank" rel="noopener noreferrer">GitHub</a>!</p>
        </div>
        <div class="jumbotron" style="border-radius: 0;">
            <zero-md src='https://raw.githubusercontent.com/dreamchef/escapegame/main/README.md'></zero-md>
            &nbsp;
            <p>Clone from <a href="https://github.com/dreamchef/escapegame"  target="_blank" rel="noopener noreferrer">GitHub</a>!</p>
        </div>
    </div>

    <%- include('../partials/footer'); %>